.creature {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 4px;

  &__image-container {
    flex-grow: 0;
    max-width: 120px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1 1 100%;
    align-self: stretch;
  }

  &__name {
    font-size: 1.4em;
  }

  &__image {
    height: 120px;
    width: 120px;

    object-fit: contain;
  }

  &__icon {
    height: 1.25em;
    width: 1.25em;
  }

  &__icon_value {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__graphics {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}
